body {
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

section {
    position: relative;
    overflow: hidden;
    z-index: 5;
}

a {
    font-family: $headings-font-family;
    font-weight: bold;
    transition: 0.5s;
}

ul {
    margin: 0;
    @extend .list-unstyled;
}

figure {
    margin: 0;
}

textarea {
    resize: none;
}