.contacts-list {

  li {

    a {
      display: flex;
      align-items: center;
      color: #fff;
      font-size: .875rem;

      &:hover {
        color: $primary;
      }

      svg {
        flex: 1 0 auto;
        fill: $primary;
        margin-right: 20px;
        transition: .5s;
      }
    }
  }
}

.social-list {
  display: flex;

  li {
    margin-right: 25px;

    &:last-of-type {
      margin-right: 0;
    }

    a {
      svg {
        fill: #fff;
        transition: .5s;
      }

      &:hover {

        svg {
          fill: $primary;
        }
      }
    }
  }
}

.decor-logo {
  position: absolute;
  max-width: 140px;
  animation: decorLogo 1.5s infinite ease-out;
  z-index: -2;
}

@keyframes decorLogo {
  0% {
    opacity: .8;
  }

  50% {
    opacity: .3;
  }

  100% {
    opacity: 1;
  }
}