#gallery {
  margin-top: -250px;
  padding: 300px 0 40px;
  z-index: 5;

  .decor-logo {

    &--first {
      bottom: 60%;
      right: 2%;

      @media (min-width: map_get($grid-breakpoints, xl)) {
        bottom: 45%;
      }
    }

    &--second {
      top: 20px;
      left: 4%;
      animation-delay: .4s;

      @media (min-width: map_get($grid-breakpoints, xl)) {
        top: 20%;
        left: 1%;
      }
    }

    &--third {
      bottom: 0px;
      left: 8%;
      animation-delay: .8s;

      @media (min-width: map_get($grid-breakpoints, xl)) {
        bottom: 20%;
        left: 3%;
      }
    }
  }


  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 590px;
    background: $gray-200;
    z-index: -2;
  }

  .section-title {
    color: $gray-400;
    font-size: 4rem;

    @media (min-width: map_get($grid-breakpoints, sm)) {
      font-size: 6.25rem;
    }

  }

  .section-description {
    position: relative;
    padding-left: 40px;
    border-left: 2px solid $primary;
  }
}

.gallery-slider {
  margin-top: 50px;

  .slider-arrow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
    z-index: 5;

    @media (min-width: map_get($grid-breakpoints, sm)) {
      bottom: 30px;
    }
  }

  .slider-nav {
    position: absolute;
    top: -40px;
    right: 0;
  }

  &-item {
    display: flex;
    justify-content: center;
    margin: 0 10px;
    width: 100%;

    &-wrapper {
      position: relative;

      &::before {
        content: '';
        @extend %pos;
        background: linear-gradient(0, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 44.95%);
      }

      img {
        max-width: 100%;
      }
    }
  }
}